$eag-blue: rgb(21,46,91);
$eag-red: rgb(196,46,56);
$eag-black: rgb(0, 0, 0);
$eag-white: rgb(255, 255, 255) ;
$eag-grey: rgb(22, 22, 22);
$eag-grey-light: rgb(217, 217, 217);
$body-bgc: rgb(234,234,234);


