@use '../sass/colors' as *;

footer {
	background-color: $eag-black;
}

.footer {
	padding: 0 2rem;
	position: relative;
	padding-bottom: 1rem;
	width: 100%;

	&__box {
		margin: 0 auto;
		max-width: 1200px;

	}

	&__brands {
		height: 11rem;
		overflow-x: hidden;
		& h3 {
			margin: 1rem 0 0;
			font-size: 1rem;
			text-transform: uppercase;
			color: $eag-grey-light;
		}
	}

	&__brands-box {
		position: relative;
		display: flex;
		will-change: transform;
		animation: slider-offer 20s linear infinite;
		min-width: 1200px;
		

		> * {
			flex: 0 0 100%;
		}
	}

	&__list {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-height: 80px;

		transform: translateX(-100%);
		& img {
			margin: 0 3.6rem;
			width: 80px;
			height: auto;
		}
	}

	&__foot-link {
		padding: 1rem 0;
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
		color: $eag-white;
		letter-spacing: 0.1rem;

		& a {
			font-weight: 800;
			color: #de3d48;
		}
	}
}

@keyframes slider-offer {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

