@use '../sass/colors' as *;

footer {
	background-color: $eag-black;
}

.footer {
	padding: 0 2rem;
	position: relative;
	padding-bottom: 1rem;
	width: 100%;

	&__box {
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
	}

	&__brands {
		height: 11rem;
		overflow-x: hidden;
		& h3 {
			margin: 1rem 0 0;
			font-size: 1rem;
			text-transform: uppercase;
			color: $eag-grey-light;
		}
	}

	&__brands-box {
		position: relative;
	
	}

	&__list {
		position: absolute;
		left: -1034px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-height: 80px;
		animation-duration: 40s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		& img {
			margin: 0 3.6rem;
			width: 80px;
			height: 100%;
		}

		&--first {
			animation-name: slider-offer-f;
			animation-delay: 20s;
		}

		&--second {
			animation-name: slider-offer-s;
		}
	}

	&__foot-link {
		padding: 1rem 0;
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
		color: $eag-white;
		letter-spacing: .1rem;

		& a {
			font-weight: 800;
			color: #de3d48;;
		}
	}
}


@keyframes slider-offer-f {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(2140px, 0, 0);
	}
}
@keyframes slider-offer-s {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(2140px, 0, 0);
	}
}
