@use '../sass/colors' as *;

footer {
	background-color: $eag-black;
}

.footer {
	padding: 0 2rem;
	position: relative;
	padding-bottom: 1rem;
	width: 100%;

	&__box {
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
	}

	&__brands {
		// margin: 0 auto;
		height: 11rem;
		overflow-x: hidden;
		& h3 {
			margin: 1rem 0 0;
			font-size: 1rem;
			text-transform: uppercase;
			color: $eag-grey-light;
		}
	}

	&__brands-box {
		position: relative;
		// display: flex;
		// justify-content:center;
		// align-items: center;
		// height: 50%;
	}

	&__list {
		position: absolute;
		left: -1034px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-height: 80px;
		animation-duration: 40s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		& img {
			margin: 0 3.6rem;
			width: 80px;
			height: 100%;
		}

		&--first {
			animation-name: slider-offer-f;
			animation-delay: 20s;
		}

		&--second {
			animation-name: slider-offer-s;
		}
	}

	&__foot-link {
		padding: 1rem 0;
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
		color: $eag-white;

		& a {
			color: $eag-red;
		}
	}
}
// 		&__box {
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: center;
// 			align-items: center;
// 			padding: 0 8em;
// 			width: 100%;
// 		}

// 		&__box-content {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			padding: 4em 0;
// 			border-bottom: 1px solid rgba($color: $eag-white, $alpha: 0.1);
// 			width: 100%;
// 		}

// 		&__content-logo {
// 			display: flex;
// 			justify-content: flex-start;
// 			width: 20%;

// 			& img {
// 				width: 140px;
// 				height: 40px;
// 			}
// 		}

// 		&__content-menu {
// 			width: 60%;
// 		}

// 		&__menu-items {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			gap: 0.6em;
// 		}

// 		&__menu-item {
// 			list-style: none;

// 			& a {
// 				padding: 0.6em 1.2em;
// 				font-size: 1.4rem;
// 				color: $eag-white;
// 				border-radius: 8px;
// 				transition: background-color 0.4s, color 0.4s;

// 				& i {
// 					font-size: 2.2rem;
// 				}
// 			}
// 		}
// 		&__menu-item:hover {
// 			& a {
// 				color: $eag-black;
// 				background-color: $eag-white;
// 			}
// 		}

// 		&__menu-item:first-child {
// 			& a {
// 				background-color: $eag-blue;
// 				transition: background-color 0.4s, color 0.4s;
// 			}
// 		}
// 		&__menu-item:first-child:hover {
// 			& a {
// 				color: $eag-black;
// 				background-color: $eag-white;
// 			}
// 		}
// 		&__menu-item:last-child {
// 			& button {
// 				padding: 0.4em;
// 				font-size: 2rem;
// 				color: $eag-white;
// 				background-color: $eag-red;
// 				border-radius: 8px;
// 				border: none;
// 				transition: background-color 0.4s, color 0.4s;
// 				cursor: pointer;
// 			}
// 		}
// 		&__menu-item:last-child:hover {
// 			& button {
// 				background-color: $eag-white;
// 				color: $eag-black;
// 			}
// 		}

// 		&__content-socials {
// 			display: flex;
// 			justify-content: flex-end;
// 			align-items: center;
// 			gap: 1em;
// 			width: 20%;

// 			& i {
// 				padding: 0.4em;
// 				font-size: 2.2rem;
// 				background: rgb(36, 36, 36);
// 				background: linear-gradient(180deg, rgba(36, 36, 36, 1) 5%, rgba(36, 36, 36, 0) 100%);
// 				color: $eag-red;
// 				border-radius: 8px;
// 				transition: background-color 0.4s, color 0.4s;
// 			}

// 			& i:hover {
// 				background: transparent;
// 				background-color: $eag-white;
// 				color: $eag-black;
// 			}
// 		}

// 		&__box-foot {
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 			padding: 4em 0;
// 			width: 100%;

// 			& a {
// 				color: $eag-white;
// 				text-decoration: none;
// 			}
// 		}

// 		&__foot-data {
// 			display: flex;
// 			align-items: center;
// 			font-size: 1.4rem;
// 			gap: 1.2em;

// 			& i {
// 				padding-right: 0.3em;
// 				font-size: 2rem;
// 				vertical-align: middle;
// 				color: $eag-red;
// 			}
// 		}

// 		&__data-phone {

// 			& i {
// 				padding-right: 0;
// 			}
// 		}

// 		&__foot-link {
// 			font-size: 1.4rem;
// 			color: $eag-white;

// 			& a {
// 				color: $eag-red;
// 			}
// 		}

// 		&__mobile {
// 			display: none;
// 		}
// 	}

// 	@media (max-width: 1200px) {
// 		.footer {
// 			&__box {
// 				padding: 0 2em;
// 			}

// 			&__menu-item {
// 				& a {
// 					padding: 0.6em 1em;
// 				}
// 			}
// 		}
// 	}

// 	@media (max-width: 992px) {
// 		.footer {
// 			&__box {
// 				padding: 4em 2em 0;
// 			}
// 			&__box-content {
// 				position: relative;
// 				padding: 8em 0 2em;
// 				justify-content: space-between;
// 			}
// 			&__content-logo {
// 				width: 50%;

// 				& img {
// 					width: 140px;
// 					height: 40px;
// 				}
// 			}
// 			&__content-socials {
// 				& i {
// 					font-size: 2.2rem;
// 				}
// 			}

// 			&__content-menu {
// 				position: absolute;
// 				top: 0;
// 				width: 100%;
// 			}
// 			&__content-socials {
// 				width: 50%;
// 			}

// 			&__menu-items {
// 				justify-content: space-between;
// 			}
// 		}
// 	}

// 	@media (max-width: 769px) {
// 		.footer {
// 			&__foot-data {
// 				font-size: 1.2rem;
// 			}
// 			&__foot-link {
// 				font-size: 1rem;
// 			}
// 		}
// 	}
// 	@media (max-width: 685px) {
// 		.footer {
// 			&__foot-data {
// 				font-size: 1rem;
// 			}
// 			&__foot-link {
// 				font-size: 0.8rem;
// 			}
// 		}
// 	}

// 	@media (max-width: 600px) {
// 		.footer {
// 			&__box {
// 				flex-direction: column;
// 			}
// 		}
// 	}

// 	@media (max-width: 568px) {
// 		.footer {
// 			& button {
// 				margin: 0 0.5em;
// 				font-size: 2rem;
// 			}
// 			& i {
// 				font-size: 2.2rem;
// 			}

// 			&__box {
// 				display: none;
// 			}

// 			&__mobile {
// 				display: flex;
// 				flex-direction: column;
// 			}

// 			&__mobile-menu {
// 				display: flex;
// 				justify-content: center;
// 				padding: 3em 0;
// 			}

// 			&__mobile-btns {
// 				padding: 0.4em;
// 				font-size: 2.6rem;
// 				color: $eag-white;
// 				border-radius: 5px;
// 				border: none;
// 				cursor: pointer;

// 				&--burger {
// 					background-color: $eag-blue;
// 				}

// 				&--lang {
// 					background-color: $eag-red;
// 				}
// 			}

// 			&__mobile-socials {
// 				display: flex;
// 				justify-content: flex-end;
// 				align-items: center;

// 				& a {
// 					margin: 0 0.5em;
// 				}

// 				& i {
// 					padding: 0.4em;
// 					background: rgb(36, 36, 36);
// 					background: linear-gradient(180deg, rgba(36, 36, 36, 1) 5%, rgba(36, 36, 36, 0) 100%);
// 					color: $eag-red;
// 					border-radius: 8px;
// 					transition: background-color 0.4s, color 0.4s;
// 				}

// 				& i:hover {
// 					background: transparent;
// 					background-color: $eag-white;
// 					color: $eag-black;
// 				}
// 			}

// 			&__mobile-content {
// 				display: flex;
// 				justify-content: space-between;
// 				margin: 0 2em;
// 			}

// 			&__mobile-logo {
// 				display: flex;
// 				justify-content: center;
// 				align-items: center;
// 				& img {
// 					width: 150px;
// 					height: 50px;
// 				}
// 			}

// 			&__mobile-data {
// 				display: flex;
// 				flex-direction: column;
// 				font-size: 1.4rem;

// 				& i {
// 					padding-right: 0.3em;
// 					font-size: 2rem;
// 					vertical-align: middle;
// 					color: $eag-red;
// 				}

// 				& a {
// 					color: $eag-white;
// 					margin: 1em 0;
// 				}
// 			}

// 			&__mobile-phone {
// 				margin: 1em 0;
// 			}

// 			&__mobile-link {
// 				padding: 2em 0 1em;
// 				align-self: center;
// 				font-size: 1.2rem;
// 				color: $eag-white;

// 				& a {
// 					color: $eag-red;
// 				}
// 			}
// 		}
// 	}

// 	@media (max-width: 420px) {
// 		.footer {
// 			&__mobile-content {
// 				flex-direction: column-reverse;
// 				align-items: center;
// 				gap: 2em;
// 			}

// 		}
// 	}

// 	@media (max-width: 300px) {
// 		.footer {
// 			& button {
// 				margin: 0 0.1em;
// 			}

// 			&__mobile-socials {

// 				& a{
// 					margin: 0 0.1em;
// 				}
// 			}
// 		}
// }

@keyframes slider-offer-f {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(2140px, 0, 0);
	}
}
@keyframes slider-offer-s {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(2140px, 0, 0);
	}
}
