@use '../sass/colors' as *;

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	max-height: 65px;
	z-index: 10;

	&.show {
		background-color: rgba($color: $eag-black, $alpha: .95);
	}
	
	&__navbar {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 65px;
	}

	&__logo {
		
		position: absolute;
		display: none;
		left: 4em;

		& img {
			width: 140px;
			height: 40px;
		}

		&.show {
			display: block;
		}
	}



	&__web-menu-btn {
		display: flex;
		justify-content: flex-end;
		width:calc(50% + 83px);
	}
	&__menu-btn {
		padding: 0.2em 1.2em;
		background-color: $eag-red;
		color: $eag-white;
		font-size: 1.6rem;
		text-transform: uppercase;
		font-family: 'Manrope', sans-serif;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.4s, color 0.4s;
	}
	&__menu-btn:hover {
		background-color: $eag-white;
		color: $eag-black;
	}

	&__menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: $eag-black;
		transform: translateX(-100%);
		transition: transform 0.4s ease-in-out;
	}

	

	&__menu-box {
		position: relative;
		display: flex;
		justify-content: space-around;
		height: 70%;
	}

	&__menu-logo {
		display: flex;
		justify-content: center;
		width: 20%;
		height: 150px;

		& img {
			width: 220px;
			height: 120px;
		}
	}

	&__menu-items {
		position: relative;
		top: 70px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: center;
		height: calc(100% - 70px);
		width: 50%;
		transition: transform .4s;

		&.hide {
			transform: translateX(150%);
		}
	}

	&__menu-item {
		position: relative;
		font-size: 4.8rem;
		font-family: 'Roboto Mono';
		font-weight: 400;
		text-align: left;
		list-style: none;
		border-radius: 5px;
		background-color: transparent;
		transition: background-color 0.4s, color 0.4s;


	

		& a {
			display: block;
			text-transform: uppercase;
			color: $eag-white;
			transition: background-color 0.4s, color 0.4s;

			&::after,
			a::before {
				transition: 0.3s;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 3px;
				width: 100%;
				background-color: $eag-red;
				transform: scalex(0);
				transform-origin: right;
				transition: transform 0.3s;
			}
			&:hover::after {
				transform: scalex(1);
				transform-origin: left;
			}
		}
	}

	&__menu-more-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5%;
		max-height: 140px;
	}

	&__menu-close-btn {
		position: absolute;
		top: 1rem;
		right: 3rem;
		padding: 0.2em;
		background-color: transparent;
		color: $eag-white;
		border: none;
		font-size: 4.8rem;
		cursor: pointer;
		transition: color 0.4s;

		&:hover {
			color: $eag-red;
		}
	}

	&__menu-return-btn {
		position: absolute;
		top: 1.7rem;
		right: 2.6rem;
		font-size: 5.8rem;
		color: $eag-white;
		background-color: transparent;
		border: none;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
		transition: color .4s;

		&:hover {
			color: $eag-red;

		}

	}

	&__menu-contact-box {
		display: flex;
		justify-content: space-around;
		height: 30%;
		font-family: 'Roboto Mono';

		& h3 {
			margin-bottom: 1em;
			font-size: 2.4rem;
			text-transform: uppercase;
			color: $eag-red;
		}

		& span {
			display: block;
			margin-bottom: 0.3em;
			font-size: 1.7rem;
			text-transform: uppercase;
			color: rgb(152, 152, 154);
		}
	}

	&__menu-contact-phone {
		& h3 {
			color: $eag-white;
		}
	}

	&__about-us {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		transform: translateX(-200%);
		width: 100%;
		height: 100vh;
		transition: transform .4s;
		z-index: -10;

		.active {
			transform: translateX(0);
		}
	}

	&__about-us-bgc {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70%;
		opacity: 0.2;
	}

	&__about-us-content {
		position: relative;
		margin-top: 9em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 5em ;

		& h3 {
			margin-bottom: 4em;
			font-size: 4.8rem;
			font-weight: 400;
			font-family: "Roboto Mono";
			text-transform: uppercase;
			color: $eag-white;
		}

		& p {
			padding: 0 10em;
			font-size: 1.6rem;
			font-family: "Manrope";
			line-height: 1.6;
			text-align: justify;
			color: $eag-white;
		}
	}
	&__about-us-return {
		position: absolute;
		right: 3em;
		top: -6em;

		& button {
			font-size: 4.8rem;
			border: none;
			background-color: transparent;
			color: $eag-white;
			cursor: pointer;
		}
	}

	&__mobile-menu-btns {
		display: none;
	}

	&__mobile-menu-btn {
		display: block;
		padding: 0.4em;
		font-size: 2.6rem;
		background-color: $eag-blue;
		color: $eag-white;
		border-radius: 5px;
		border: none;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;

		// &--close {
		// 	position: absolute;
		// 	background-color: $eag-white;
		// 	color: $eag-black;
		// 	opacity: 0;
		// 	pointer-events: none;
		// }
	}

	&__mobile-menu-btn:hover {
		background-color: $eag-white;
		color: $eag-black;
	}

	&__more-btns {
		margin-right: 5em;
		display: flex;
		justify-content: flex-end;
		width: 50%;
		height: auto;
	}

	&__more-lang-btn {
		padding: 0.2em;
		font-size: 2.6rem;
		background-color: $eag-red;
		color: $eag-white;
		border-radius: 5px;
		border: none;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;
	}

	&__more-lang-btn:hover {
		color: $eag-black;
		background-color: $eag-white;
	}

	&__lang-list {
		position: absolute;
		top: 65px;
		right: 0;
		transform: translateY(-150%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 25vh;
		width: 20%;
		opacity: 0;
		transition: transform 0.4s, opacity 0.4s;
		transition-delay: opacity 0.4s;
		z-index: -2;
	}

	&__lang-btn {
		margin: 1em 0;
		padding: 1em 2em;
		width: 60%;
		background-color: $eag-blue;
		color: $eag-white;
		border: none;
		border-radius: 5px;
		font-size: 1.4rem;
		text-transform: uppercase;
		transition: background-color 0.4s, color 0.4s;
		cursor: pointer;
	}

	&__lang-btn:hover {
		background-color: rgba($eag-black, $alpha: .4);
	}

	.active-lang {
		transform: translateY(0);
		opacity: 1;
	}

	.show-btn {
		opacity: 1;
		pointer-events: all;
	}
	.hide-btn {
		opacity: 0;
		pointer-events: none;
	}
}

@media (max-width: 1200px) {
	.nav {
		&__logo {
			margin-left: 1em;
		}

		&__lang-list {
			width: 25%;
		}
	}
}

@media (max-width: 1150px) {
	.nav {
		&__menu-item {
			font-size: 1.4rem;
		}
	}
}

@media (max-width: 992px) {
	.nav {
		&__web-menu-btn {
			display: none;
		}
		&__menu-btn {
			display: none;
		}
		&__logo {
			justify-content: flex-start;
			width: 80%;

			& img {
				width: 140px;
				height: 40px;
			}
		}
		&__mobile-menu-btn {
			font-size: 2.2rem;
		}
		&__more-lang-btn {
			font-size: 2.2rem;
		}

		&__menu-item:first-child {
			padding: 0.3em 1.2em;
		}

		&__mobile-menu-btns {
			display: flex;
			justify-content: flex-end;
			width: 10%;
		}

		&__more-btns {
			width: 10%;
		}

		&__lang-list {
			width: 32%;
		}
	}

	.show-btn {
		opacity: 1;
		pointer-events: all;
	}
	.hide-btn {
		opacity: 0;
		pointer-events: none;
	}
}
@media (max-width: 769px) {
	.nav {
		max-height: 65px;

		&__menu {
			top: 65px;
		}

		&__menu-items {
			height: calc(100dvh - 65px);
		}

		&__navbar {
			height: 65px;
		}
		&__logo {
			& img {
				width: 130px;
				height: 35px;
			}
		}

		&__mobile-menu-btn {
			font-size: 1.8rem;
		}
		&__more-lang-btn {
			font-size: 1.8rem;
		}
		&__lang-list {
			top: 65px;
			width: 35%;
		}
	}
}
@media (max-width: 700px) {
	.nav {
		&__more-btns {
			margin-right: 0.5em;
		}

		&__lang-list {
			width: 42%;
		}
	}
}

@media (max-width: 568px) {
	.nav {
		&__lang-list {
			width: 52%;
		}

		&__lang-btn {
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 458px) {
	.nav {
		&__logo {
			width: 70%;
		}

		&__mobile-menu-btns {
			width: 15%;
		}
		&__more-btns {
			width: 15%;
		}
		&__lang-list {
			width: 62%;
		}
	}
}
@media (max-width: 378px) {
	.nav {
		&__lang-list {
			width: 75%;
		}
	}
}
.active {
	transform: translateX(0);
}
