@use '../sass/colors' as *;

.privacypolicy {
	padding: 0 2rem;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $eag-white;
	transform: translateX(-120%);
	transition: transform 0.4s;
	z-index: 10;
	overflow: scroll;

	&.active {
		transform: translateX(0);
	}

	&__head {
		margin: 10rem auto 0;
		display: flex;
		justify-content: flex-end;
		max-width: 900px;
	}
	&__head-logo {
		max-width: 200px;
		height: 100%;

		& img {
			max-width: 150px;
			width: 100%;
			height: auto;
		}
	}

	&__head-btns {
		& button {
			background-color: transparent;
			color: $eag-black;
			transition: color 0.4s;
		}

		& button:hover {
			color: $eag-red;
		}
	}

	&__close-btn {
		position: absolute;
		top: 2rem;
		right: 4rem;
		padding: 1rem;
		background-color: transparent;
		color: $eag-black;
		border: none;
		font-size: 2.6rem;
		cursor: pointer;
	}

	&__body {
		margin: 0 auto;
		padding-bottom: 4rem;
		max-width: 900px;
		width: 100%;
		font-family: 'Roboto Mono';

		& h2 {
			margin-bottom: 2rem;
			font-size: 2.6rem;
			text-transform: uppercase;
		}

		& h3 {
			margin-top: 1.2rem;
			font-size: 2rem;
		}

		& li,
		span {
			font-size: 1.2rem;
		}

		& li {
			list-style: none;
		}
	}

	&__main-ul {
		margin-left: 2rem;
	}

	&__submain-ul {
		margin-left: 3.6rem;
		& li {
			list-style: disc;
		}
	}
}

@media (max-width: 992px) {
	.privacypolicy {
		&__head {
			margin: 2rem auto 4rem;
			justify-content: flex-start;
		}
	}
}

@media (max-width: 565px) {
	.privacypolicy {
		&__head-logo {
			& img {
				max-width: 100px;
			}
		}
	}
}

@media (max-width: 480px) {
	.privacypolicy {
		&__body {
			& h2 {
				font-size: 2.2rem;
			}
			& h3 {
				font-size: 1.8rem;
			}
		}
		&__main-ul {
			margin-left: 0;
		}
	}
}
