@use '../sass/colors' as *;
@use '../sass/media';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	transition-delay: 1s;
	height: 100%;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: $eag-white;
	overflow-x: hidden;
	height: 100%;
}
main {
	position: relative;
}

.offer1 {
	background-color: $eag-white;
	font-family: 'Manrope';
	overflow: hidden;

	&__title {
		padding: 20rem 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}
	&__title-h2,
	&__title-text {
		display: flex;
		justify-content: center;
		align-items: center;
		& h2 {
			font-size: 3.9rem;
			font-weight: 600;
		}
	}

	&__title-h2 {
		margin-left: 2rem;
		max-width: 530px;
		width: 100%;
	}

	&__title-text {
		margin: 0 2rem 0 3rem;
		display: flex;
		justify-content: flex-end;
		max-width: 920px;
		width: 100%;
		font-size: 2rem;
		font-weight: 500;
		text-align: justify;

		& p {
			max-width: 920px;
			width: 100%;
		}
	}

	&__gallery {
		position: relative;

		overflow: hidden;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $eag-grey-light;
			width: 100%;
			height: 100%;
			content: '';
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}

	&__gallery-box {
		margin: 0 2rem;
		padding: 2rem 0;
		position: relative;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-auto-rows: 200px;
		grid-auto-flow: dense;
		//max-width: 1400px;
		z-index: 5;
	}

	&__gallery-vstretch {
		grid-row: span 2;
	}
	&__gallery-hstretch {
		grid-column: span 2;
	}
	&__gallery-bstretch {
		grid-row: span 2;
		grid-column: span 2;
	}

	&__context {
		position: relative;
		margin: 2rem;
	}
	&__context-numb {
		position: absolute;
		right: 10%;
		top: 27%;
		border: 7px solid #d61f32cc;

		& p {
			position: relative;
			white-space: normal;
			font-size: 12rem;
			font-family: 'Roboto Mono';
			line-height: 1;
		}
	}
	&__context-btns {
		margin-left: 5rem;
		padding: 5rem 0;
		max-width: 700px;

		& button {
			margin-right: auto;
			margin-left: 1rem;
			padding: 0.5rem 1.2rem;
			max-width: 243px;
			width: 100%;
			background-color: rgba(185, 185, 194, 1);
			color: $eag-black;
			border: 1px solid black;
			font-size: 1.6rem;
			font-family: 'Roboto Mono';
			font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;
		}
	}

	&__context-btn-row1,
	&__context-btn-row2 {
		display: flex;
		justify-content: space-evenly;
	}

	&__context-btn-row1 {
		margin-bottom: 3.4rem;
		max-width: 680px;

		& button:first-of-type {
			max-width: 132px;
			background-color: #d61f32cc;
		}
	}
	&__context-btn-row2 {
		max-width: 530px;
	}

	&__context-text {
		padding: 15rem 0;
		margin-left: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;

		& p {
			max-width: 925px;
			font-size: 2.9rem;
			line-height: 120%;
			font-family: 'Manrope';
			font-weight: 600;
			text-align: justify;
		}
	}
}

@include media.queries;
